/* Global settings */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

body {
    background-color: transparent;
    font-family: 'Roboto Mono', monospace;
    color: black;
    margin: 2%, 10%;
   }

h1 {
    font-family: 'Playfair Display', serif;
    color: black;
    font-weight: bold;
    margin: 2% 10%;
}

p {
    margin: 1% 10%; 
}

   
/* Add styling for project gallery, animated skillbars, contact form, social media icons. etc. 

/* Adjust for smaller screens */
@media screen and (max-width: 768px) { /* Adjust margins for screens up to 768 pixels wide */
    body {
        margin: 2% 4%; 
    }
    h1 {
        margin: 2% 4%;
    }
    p {
        margin: 1% 4%;
    }
}


/* Button */
.button-56 {
  align-items: center;
  background-color: #65875a;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: flex;
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-56:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.button-56:hover:after {
  transform: translate(0, 0);
}

.button-56:active {
  background-color: #ffdeda;
  outline: 0;
}

.button-56:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button-56 {
    padding: 0 40px;
  }
}

.container {
    margin: auto;
    width: 90%;
  }
  .navbar {
    position: fixed;
    z-index: 100;
    overflow: hidden;
    margin: auto;
    width: 100%;
    left:0;
    top:0;
  }
  .navbar li.logo,
  .navbar li.navbar_items {
    list-style-type: none;
    display: inline-block;
  }
  .navbar li a {
    margin-top: 50px;
    font-family: 'Roboto', monospace;
    font-size: 1.3em;
    color: black;
    font-weight: 700px;
    display: inline-block;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
  }
  
  .navbar li.navbar_items a:hover {
    border-bottom-style: solid;
    border-bottom-color: white;
    /*   padding-bottom: 5px; */
  }
  
  .navbar li.icon {
    display: none;
  }
  
  .div_navbar_items {
    float: right;
    padding-right:1%;
  }
  /*Start of mobile nav*/
  @media screen and (max-width:875px) {
    .navbar li.navbar_items {
      display: none;
    }
    .navbar li.icon {
      display: inline-block;
      position: absolute;
      right: 0;
      top: 1px;
    }
  }
  @media screen and (max-width:875px) {
    .navbar.responsive {
      position:fixed;
      width: 100%;
      height: 100vh;
      background-color: #17171e;
      transition: background-color .6s;
      overflow: scroll;
    }
    
    .navbar.responsive li.logo {
      floatL: left;
      display: block;
    }
    .navbar.responsive .div_navbar_items {
      float: none;
      padding-right:0;
    }
    
    .navbar.responsive li.navbar_items {
      display: block;
      padding: 50px;
      font-size: 25px;
    }
    .navbar.responsive li.navbar_items a {
      display: block;
      text-align: center;
    }
    
    .navbar.responsive li.navbar_items a:hover{
      color:#17171e;
      border-bottom-color: transparent;
      
    }
  }
  /*End of mobile nav*/